/* Font table for the site */

@charset "UTF-8";

/* Local fonts below */

@font-face {
  font-family: 'Lansbury';
   font-style: normal;
  font-weight: 400;
          src: url(./assets/fonts/lansbury.woff) format('woff');
}

*[hidden] {
    display: none !important;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.scratch {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-height: 100%;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;

    .app {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .video-selector-panel {
            flex: 1 0 33%;
            background: #333;
            overflow: auto;

            ul {
                padding: 1em;
                margin: 0;
                list-style: none;

                .video {
                    width: 100%;
                    background: black;

                    &:not(:first-child) {
                        margin-top: 1em;
                    }

                    img {
                        display: block;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                    }
                }
            }

            & + div {
                display: flex;
                flex-direction: column;
                flex: 1 1 100%;

                .video-preview {
                    flex: 1 1 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-items: center;
                    max-height: 80%;
                    background: black;

                    .preview {
                        margin: 10%;
                        width: 100%;
                        flex: 1 1 100%;
                        background: black;
                        position: relative;

                        img {
                            display: block;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        }

                        video {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .caption {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 3rem;
                            font-family: 'Lansbury';
                            fill: #f9fb61;
                            text-shadow: 0.1rem 0.1rem black, -0.05rem -0.05rem #656800;
                            white-space: pre;
                        }

                        img.rendered {
                            display: block;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .video-caption {
                    flex: 1 0 20%;
                    background: #666;
                    display: flex;
                    flex-direction: row;

                    textarea {
                        flex: 1 1 100%;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        font-size: 5em;
                        font-family: 'Lansbury';
                        text-align: center;
                    }

                    .actions {
                        flex: 1 0 5rem;
                        display: flex;
                        flex-direction: column;

                        button {
                            flex: 1 1 auto;
                        }
                    }
                }
            }
        }
    }
}
